@model Outcast_CC.Models.AppUser
@{
  ViewBag.Title = "Edit";
}

<div class="p-5 m-3 bg-light min-vh-100 d-block">
  <h2>Edit User</h2>
  @Html.ValidationSummary(false, null, new { @class = "text-danger" })
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(x => x.Id)
    <div class="form-group">
      @Html.LabelFor(x => x.UserName) :
      @Html.DisplayFor(x => x.UserName, new { htmlAttributes = new { @class = "form-control-plaintext", @readonly = true } })
      @Html.ValidationMessageFor(x => x.UserName, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
      @Html.LabelFor(x => x.Email)
      @Html.EditorFor(x => x.Email, null, new { htmlAttributes = new { @class = "form-control", autocomplete = "email" } })
      @Html.ValidationMessageFor(x => x.Email, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
      @Html.Label("Password")
      @Html.Password("Password", null, new { @class = "form-control", autocomplete = "new-password" })
      @Html.ValidationMessageFor(x => x.PasswordHash, null, new { @class = "text-danger" })
    </div>
    <div class="form-group">
      @if (Model.MemberId == null)
      {
        @Html.ActionLink("Create Profile For Member Page", "CreateMember", "Admin", null, new { @class = "btn btn-primary btn-sm form-group" })
      }
      else
      {
        @Html.ActionLink("Edit Profile For Member Page", "EditMember", "Login", null, new { @class = "btn btn-primary btn-sm form-group" })
      }
    </div>
    <div class="form-group">
      @if (Model.IsSubscribed == false)
      {
        @Html.ActionLink("Subscribe", "Subscribe", "Outcast", null, new { @class = "btn btn-primary btn-sm form-group" })
      }
      @if (Model.IsSubscribed == true)
      {
        @Html.ActionLink("Unsubscribe", "Unsubscribe", "Outcast", null, new { @class = "btn btn-primary btn-sm form-group" })
      }
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">
        <i class="fas fa-save"></i>
        Save
      </button>
      <a class="btn btn-secondary" href="@Url.Action("Index", "Outcast")">
        <i class="fas fa-arrow-left"></i>
        Cancel
      </a>
    </div>
  }
</div>

